<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "Lloginova", '/index.html', class: "navbar-brand" %>
</div>
<h2>The Cabbage</h2>
<h2>Contact</h2>
<h6>email: blabla@gmail.com</h6>
<h6>phone: 047029482984</h6>
<h6>social media: instagram.com/stacy</h6>
<%= image_tag "profile.jpg", class:"m-p-g__thumbs-img", width: 400;%>