---
title: Anastasia Loginova
---
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div data-fit-text="90 998 main-content-title" class="main-content-title glitch-title" style="font-size: 65.46px;"><span data-text="Anastasia" class="">Anastasia </span><span data-text="Loginova" class="">Loginova </span></div>
<div class="container" id="about">
  <div class="row padd-30">
    <div class="col-md-3">
      <%= link_to "The Cabbage", '/cabagge.html', class: "texty texty2" %>
    </div>
  </div>
  <div class="row padd-30">
    <div class="col-md-8">
      <%= link_to "Waterfall", '/waterfall.html', class: "texty texty2" %>
    </div>
  </div>
  <div class="row padd-30">
    <div class="col-md-12">
      <a href="#" class="texty texty3">
        is peace possible without peace?
      </a>
    </div>
  </div>
  <div class="row padd-30">
    <div class="col-md-10">
      <%= link_to "Thesis", '/thesis.html', class: "texty texty2" %>
    </div>
  </div>
  <div class="row padd-30">
    <div class="col-md-4 text-left">
      <%= link_to "Contact", '/contact.html', class: "texty texty2" %>
    </div>
  </div>
</div>
<div class="wave-one floating">
</div>
<div class="wave-two floating3">
</div>
<div class="wave-three floating4">
</div>
<div class="wave-threeb floating2">
</div>