<!-- The video -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "Lloginova", '/index.html', class: "navbar-brand" %>
</div>
<div class="video">
  <video autoplay muted loop id="myVideo">
    <source src="images/flow.mp4" type="video/mp4">
  </video>
</div>
<!-- Optional: some overlay text to describe the video -->